<p>mainpage works!</p>
<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand glyphicon glyphicon-user"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        
        <ul class="nav navbar-nav navbar-right">
          <li>
            <input class="form-control" type="date" placeholder="Search transactions..." name="search">
          </li>
          <li><button type="submit" title="Search transactions" class="btn btn-warning glyphicon glyphicon-search"></button></li>
          <li><a href="#">Home</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-off"></span> Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>
    
  <div class="container-fluid">    
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <div class="icon-bar">
        <p><a href="#" class="glyphicon glyphicon-align-right"><strong> Account Details</strong></a></p><hr>
        <p><a href="#" class="glyphicon glyphicon-align-right"><strong> Transactions</strong></a></p><hr>
        <p><a href="#" class="glyphicon glyphicon-align-right"><strong> Loans</strong></a></p>
        </div>
      </div>
      <div class="col-sm-10 text-left"> 
        <h1 style="color: rgb(223, 115, 66);">Welcome User!</h1>
        <p>OBS provides you with personal and corporate banking services offering features such as viewing account balances, 
          checking recent transactions, transferring money between accounts and loan details.</p>
        <hr>
        <h3 style="color: rgb(223, 115, 66);">Career Opportunities</h3>
        <p>Explore diverse openings with India's one of the prominent bank.</p>
        <hr>
        <h3 style="color: rgb(223, 115, 66);">Corporate Social Responsibility</h3>
        <p>OBS Bank is deeply engaged in human and economic development at the initial level. 
          The Bank works across diverse sectors and programs.</p>
          <hr>
          <h3 style="color: rgb(223, 115, 66)">Notice Board</h3>
        <p>Catch up with latest schemes and information.</p>
      </div>
    </div>
  </div>
  
  <footer class="container-fluid">
    <div>Copyright &copy; 2020 Online Banking System 
      </div>
  </footer>
